<!DOCTYPE html>
<html>

<head>
    <title>a</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    body,
    html {
        background-color: #f0f0f2;
        /*#e9e9e9*/
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul {
        display: flex;
    }

    .my-flex {
        display: flex;
    }

    .user-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 20px;
    }

    .user-info li {
        padding: 0 20px;
        border-right: 2px solid red;
    }
    .user-info li:last-child{
    	  border-right:none;
    }

   
    .person-info-edit{
    	position: absolute;
    	right:20px;
    	top:20px;
    	color:#428bca;
    	font-style: normal;
    	font-weight:bold;

    }
    #data-error{
  padding: 10px 16px;
  color:red;
  display: none;
}

    </style>
</head>

<body>
    <div class="main" style="width:960px;margin:0 auto; background-color: #fff;border-radius: 5px;padding: 10px;position: relative;">
        <%if(userData){%>
            <i class="person-info-edit" data-toggle="modal" data-target="#userModal">&nbsp;修改个人资料</i>
            <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">修改个人资料</h4>
                        </div>
                        <div class="modal-body">
                            <div data-error="" id="data-error" class="bg-danger"> </div>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon1">真实姓名</span>
                                <input type="text" class="form-control" aria-describedby="sizing-addon1" name="reallyName" id="reallyName" value='<%= userData.reallyName%>'>
                            </div>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon2">用户年龄</span>
                                <input type="number" class="form-control" aria-describedby="sizing-addon2" name="age" id="age"  value="<%= userData.age%>">
                            </div>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon3">用户性别</span>
                              	<select name="sex" id="sex" class="select form-control">
                              		<option value="男">男</option>
                              		<option value="女">女</option>
                              	</select>
                            </div>
                             <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon5">联系方式</span>
                                <input type="number" class="form-control" aria-describedby="sizing-addon5" name="telphone" id="telphone"  value="<%= userData.telphone%>">
                            </div>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon4">个人简介</span>
                                <textarea type="textarea" class="form-control"  aria-describedby="sizing-addon4" name="describle" id="describle"  style="height:200px;resize:none"><%=userData.describle%></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" id="save" class="btn btn-primary" onclick="save()">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                <div class="container my-flex">
                    <div id="head-wrap">
                        <%if(userData.headIcon!=""&&userData.headIcon!=undefined){%>
                            <img src="/head/<%=userData.headIcon%>" alt="" id="head" style="width:150px;height:150px;border-radius: 50%;" id="head" title="点我切换头像">
                            <%}else{%>
                                <img src="./images/default.png" alt="" id="head" title="点我切换头像" style="width:150px;height:150px;border-radius: 50%;">
                                <%}%>
                    </div>
                    <div class="user-info">
                        <h3><%=userData.userName%></h3>
                        <ul>
                            <li>
                                <%=userData.reallyName?userData.reallyName:"姓名未设置"%>
                            </li>
                            <li>
                                <%=userData.age?userData.age+"岁":"年龄未设置"%>
                            </li>
                            <li>
                                <%=userData.sex?userData.sex:"性别未设置"%>
                            </li>
                             <li>
                                <%=userData.telphone?userData.telphone:"手机号码未设置"%>
                            </li>
                        </ul>
                        <div class="over-text" title="个人备注：<%=userData.describle?userData.describle:" aaa "%>">个人备注：
                            <%=userData.describle?userData.describle:"aaa"%>
                        </div>
                    </div>
                    <input type="file" id="file" onchange="upload(event)" style="position: absolute;top:-2000px">
                    <%}else{%>
                        <a href="/user/login">登陆</a>
                        <%}%>
                </div>
            </div>
</body>
<script type="text/javascript">

function save(){
	var ajaxData={};

	ajaxData.userId="<%=userData._id%>";

		ajaxData.reallyName=$("#reallyName").val();
		ajaxData.age=$("#age").val();
		ajaxData.sex=$("#sex").val();
		ajaxData.describle=$("#describle").val();
		ajaxData.telphone=$("#telphone").val();

	  if(ajaxData.reallyName==""){

          $("#data-error").html("真实性名不能为空");
           $("#data-error").show();
           return

        }
         if(ajaxData.age==""){

            $("#data-error").html("年龄不能为空");
            $("#data-error").show();
            return

        }else{
          if(ajaxData.age*1<0){
             $("#data-error").html("年龄不能小于0");
            $("#data-error").show();
            return

          }

        }
        if(ajaxData.telphone==""){

            $("#data-error").html("联系方式不能为空");
            $("#data-error").show();
            return

        }else{
        	
			var regx=/^[1][3|4|5|8|7|9]\d{9}$/;
        	
          if(!regx.test(ajaxData.telphone)){
             $("#data-error").html("联系方式无效号码");
            $("#data-error").show();
            return

          }

        }



	$.ajax({
		url:"/user/edit",
		type:"post",
		data:ajaxData,
		success:function(data){
			
			if(data.status==0){

				location.reload();
			}else{
				alert(data.msg)
			}

		}


	})


}

function myFileReader(file) {

    var fr = new FileReader();

    fr.onloadend = function(e) {


        $("#head").attr("src", e.target.result);

    };
    fr.readAsDataURL(file);

}
$("#head").on("click", function() {
    $("#file").click();
})

function upload(e) {

    var file = e.target.files[0];

    if (!/image\/\w+/.test(file.type)) {
        alert("请确保文件为图像类型");
    } else {
        myFileReader(file);

        var formData = new FormData();
        formData.append("userId", "<%=userData._id%>");
        formData.append("headIcon", file);
        //上传图片
        // userId 当前用户的id
        //headIcon用户头像字段


        $.ajax({
            url: "./user/head",
            type: "post",
            contentType: 'multipart/form-data',
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            data: formData,
            success: function(data) {
                var json = data;
                if (json.status == 0) {

                    alert(data.msg)

                } else {
                    alert(data.msg)
                }
            },
            error: function(data) {

            }

        })


    }



}
</script>

</html>