*{ margin:0; padding:0; text-decoration: none; }
/*头部*/
body{ background: #a8c5b6; }
.mian{
background:#333333;
	width: 100%;
	height:180px;
	overflow: hidden;
}
.logo-new{
	padding:20px 50px;
	color: #fff;
	float: right;
  }
 .logo-new a{color:#fff;}
.logo{
	overflow:hidden;
	background: url(../img/logo.png)no-repeat;
	margin:50px auto;
	width:45%;
	height:84px;
	float:right;
  }
 .logo-c{
 	padding-left:22px;
 	margin:0 10px;
 	width:50px;
 	height: 18px;
 	background:url(../img/1.png);
 	float: right;
 }
 /* 导航 */
 .out{width: 100%; 
 	overflow: hidden;
 	padding:20px 0; 
 	margin: 5px 0;
 }
 .nav{
 	width:90%;
 	overflow: hidden;
 	margin:0 auto;
 }
.nav li{ 
	margin: 0 5%;+
	padding:5px;
	float:left;
 	list-style:none;
  	width:100px; 
  	text-align:center; 
  	font-weight:bold;
   	color:#000; 
   	font-size:18px;
   	border-bottom: 2px solid #000;
}
.nav a{color: #000;}
/* 轮播图 */
.warp img{
	width: 100%;
	height: 350px;
}
/*  尾部素材 */
.weibu{
	overflow: hidden;
	margin:20px auto;
}
.weibu-mian{
	overflow: hidden;
	margin: 0 30px;
	float: left;
	border-radius: 10px;
} 
.weibu-text{
	font-weight: bold;
	padding:30px 0;
	font-size: 80px;
	text-align: center;
}
.fgx{
	width: 100%;
	height:2px;
	background:#343e39;
	margin-bottom:10px; 
}
.all-miana{
	padding: 2px;
	overflow: hidden;
	width:90%;	
}
.all-right{
float: right;
width: 15%;
margin: 25px 0;
text-align: center;
}
.all-right p{
font-size: 20px;
margin:20px;
}



.all-left{
float: left;
width:60%;
margin: 20px 0 20px 50px;
}
.view{
	border: 1px solid #000;
 	margin: padding:5px; 
 	font-size: 16px;
 }

.jsl{ height: 30px; line-height: 30px;  }
.jsl span { padding: 20px; margin: 0 20px; }

.enter-mian {
width: 50% ;
height: 400px;
font-size: 20px;
line-height:20px;
margin:15px auto;
border: solid 3px #343e39;
text-align: center;
border-radius: 10px;
}
.enter-mian h2{
	padding: 10px 0;
}
.enter-mian p{margin: 12px 0;}
.enter-mian p a{margin: 5px 0;}

input[type=text]{
    width: 328px;
    height: 30px;
    line-height: 30px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 0 10px;
    margin: 15px auto;
}
input[type=submit]{
    padding:0;
    border: none;
    background: #f85659;
    width: 360px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
